
#messages {
  position: absolute;
  top: 0;
}

#messages h3 {
  display:inline-block;
}

#messages button.clear {
  display: inline-block;
  position: relative;
  left: 10px;

  font-family: Arial;
  font-size: .8rem;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
#messages button:hover {
  background-color: #cfd8dc;
}
#messages button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
#messages button.clear {
  color: #333;
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  #messages {
    /*top: 290px;*/
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  #messages {
    /*background-color: blue;*/
    /*top: 410px;*/
  }
}
