
.Header {
	display: flex;
	justify-content: space-around;
	text-align: center;

	a {
		flex: 1 1 auto;
		padding: 10px 20px;

		svg {
			margin-left: 10px;
		}
	}

	a + a {
		border-left: 1px solid rgba(0,0,0,.25)
	}
}