
.container, .row, .col {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

[class^="col"] {
  padding: 0;
}


body {
	background-color: #fcf3de;
  position: relative;
  /*padding-top: 110px;*/
  padding-bottom: 130px;
  overflow-x: hidden;
}

#main {
  /*margin: 2px 0;*/
}

#messages {
  transition: right 2s;
  background-color: #79d480;
  padding: 10px;
  position: fixed;
  display: inline;
  width: 200px;
  right: -160px;
  z-index: 1;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#messages::-webkit-scrollbar { width: 0 !important }

#messages:hover {
  right: 0;
}

#content {
  min-height: 1000px;
  /*padding: 2px*/

}