
#modal_documentObj_podcastObj {
	h5 {
		word-break: break-all;
	}

	audio {
		width: 100%;
	}

	@media (max-width: 575px) {
		.block_img_vig {
			flex: 1 1 80%;
		}
	}

	.select_language, .label_customized_width {
		width: 135px;
	}

	label {
		width: 40px;
	}
}