
#page_dashboard {
	padding: 30px;
}

#page_dashboard h3 {
  text-align: center;
  margin-top: 20px;
}

#page_dashboard button {
	margin: 10px;
}

#page_dashboard .horizontalCards {
	margin-top: 30px;
}
