/*.badgeList {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/


.badgeList {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.badgeList li {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  left: 0;
  transition: left .25s ease;
}

.badgeList li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .4em;
}

.badgeList a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.badgeList a:hover {
  color:#607D8B;
}

.badgeList .badge {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.badgeList button {
  background-color: #eee;
  border: none;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

.badgeList button:hover {
  background-color: #cfd8dc;
}

.badgeList button.delete {
  position: relative;
  left: 194px;
  top: -38px;
  background-color: gray !important;
  color: white;
}