

.header.jumbotron {
	/*background-color: #8829d6;*/
	border-radius: 0;
	background-image: url("https://yjalifebook.files.wordpress.com/2019/12/universe.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	height: 500px;
	display: block;
	width: 100%;}
	.header.jumbotron p {
		margin-top: 20%;
	}