nav {
  margin: 5px 0;
  background-color: #79d480;
  border-radius: 6px;
  padding: 5px;
}

nav a {
  display: inline-block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  color: #161717;
}

nav a:hover {
  background-color: #161717;
  color: #79d480;
  border-radius: 3px;
  text-decoration: none;
}