
.menu-icon {
  width: 30px;
  height: 25px;
  border-top: 5px solid #333;
  border-bottom: 5px solid #333;
  background-color: #333;
  padding: 5px 0;
  background-clip: content-box;
  cursor: pointer;
  display: none;
}

.navBar {
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 110px;*/
  /*top: 0px;*/
  z-index: 2;
}

.navBar.navBar-desktop #button_mobile_menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.navBar.navBar-desktop {
  background-color: #79d480;
  max-width: 100%;
  /*height: 110px;*/}
  .navBar.navBar-desktop .logo {
    text-align: center;}
  .navBar.navBar-desktop .logo img {
    width: 100%;
    height: 110px;
    transition: width 2s;}
  .navBar.navBar-desktop .navs {
    background-color: #79d480;
    text-align: center}
    .navBar.navBar-desktop .navs a {
      display: inline-block;
      /*padding: 10px;
      margin: 30px 0;*/
      line-height: 110px;
      text-align: center;
      text-decoration: none;
      font-size: 1.5em;
      color: #161717;}
    .navBar.navBar-desktop .navs a:hover {
      background-color: #161717;
      color: #79d480;
      /*border-radius: 3px;*/
      text-decoration: none;
    width: 100%;}
  .navBar.navBar-desktop .navBar-right {
    position: relative;
    background-color: white;
    height: 110px;
    text-align: center;
    line-height: 110px;
    font-size: 2em;
    color: #333333;}
    .navBar.navBar-desktop .navBar-right #block_faAddressCard {
      cursor: default;
    }
  @keyframes fade-out {  
      0% {opacity: 1;}
      40% {opacity: 0;}  
      100% {opacity: 0;}
  }  
  @-webkit-keyframes fade-out {/*针对webkit内核*/  
      0% {opacity: 1;}  
      40% {opacity: 0;}  
      100% {opacity: 0;}  
  }   
  .navBar.navBar-desktop .navBar-right #block_faAddressCard #popup_faAddressCard {
    position: absolute;
    top: -240%;
    left: -100%;
    padding: 20px;
    box-shadow: 1px 1px 2px #d2d2d2;
    background-color: #79d480;
    color: #161717;
    width: 300px;
    font-size: .5em;
    line-height: normal;
    text-align: left;
    font-weight: 500;
    z-index: 1;
    transition: top 2s;
    animation: fade-out;/*动画名称*/  
    animation-duration: 1.5s;/*动画持续时间*/  
    -webkit-animation:fade-out 1.5s;/*针对webkit内核*/  
  }
  @keyframes fade-in {  
      0% {opacity: 0;}
      40% {opacity: 0;}  
      100% {opacity: 1;}
  }  
  @-webkit-keyframes fade-in {/*针对webkit内核*/  
      0% {opacity: 0;}  
      40% {opacity: 0;}  
      100% {opacity: 1;}  
  }   
  .navBar.navBar-desktop .navBar-right #block_faAddressCard:hover #popup_faAddressCard{
    animation: fade-in;/*动画名称*/  
    animation-duration: 1.5s;/*动画持续时间*/  
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/  
    top: 100%;
    left: -100%;
    padding: 20px;
    box-shadow: 1px 1px 2px #d2d2d2;
    background-color: #79d480;
    color: #161717;
    width: 300px;
    font-size: .5em;
    line-height: normal;
    text-align: left;
    font-weight: 500;
  }
/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  body {
    /*padding-top: 290px;*/
  }
  .navBar.navBar-desktop .logo img {
    width: 110px;
  }
  .navBar.navBar-desktop .navs a {
    line-height: 60px;
  }
  .navBar.navBar-desktop .navBar-right, .navBar.navBar-desktop .navBar-right .col {
    height: 60px;}
    .navBar.navBar-desktop .navBar-right .col svg {
      position: relative;
      top: -45%;
    }
  
  .navBar.navBar-desktop .navBar-right #block_faAddressCard #popup_faAddressCard {
    position: absolute;
    top: -240%;
    left: -165%;
    transition: left 2s, top 2s;
  }

  .navBar.navBar-desktop .navBar-right #block_faAddressCard:hover #popup_faAddressCard {
    position: absolute;
    top: 100%;
    left: 10%;
  }

  .navBar.navBar-desktop #block_mobile_menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
  }

  .menu-icon {display: block; overflow: hidden;}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  body {
    /*background-color: blue;*/
    /*padding-top: 410px;*/
  }

  .navBar.navBar-desktop .navBar-right #block_faAddressCard #popup_faAddressCard {
    position: absolute;
    top: -240%;
    left: -300%;
    transition: left 2s, top 2s;
  }

  .navBar.navBar-desktop .navBar-right #block_faAddressCard:hover #popup_faAddressCard {
    position: absolute;
    top: 100%;
    left: 10%;
  }
}
