
$text-color: #fff;
$text-color-dark: #212529;

$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;